body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    color: #0066cc;
    text-align: center;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input[type="number"],

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Makes sure the padding doesn't affect the overall width */
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0066cc;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#taxContainer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    color: #333;
}

p {
    color: #666;
}

#information {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
    margin: 20px auto;
}

button[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px; /* Added space between buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#moreInfoBtn {
    background-color: #5aa3ec; /* Green */
    color: white;
}

#moreInfoBtn:hover {
    background-color: #9ac2eb;
}

#contactUsBtn {
    background-color: #5aa3ec; /* Red */
    color: white;
}

#contactUsBtn:hover {
    background-color: #9ac2eb;
}